<!DOCTYPE html>
<html>

<head>
  <h1> Add Questions and Answers </h1>

<head>

<body>
  <form method="post" action ="/addQ">
        <p> Enter your Question:  <input type="text" name="Question"/></p>
        <!-- <p><input type="submit" value="Submit Question!" id="submitQuestion"></p> -->

        <p> Enter your Level:  <input type="text" name="Level"/></p>
        <!-- <p><input type="submit" value="Submit Level!" id="submitLevel"></p> -->


        <p> Enter your Category:  <input type="text" name="Category"/></p>
        <!-- <p><input type="submit" value="Submit Category!" id="submitCategory"></p> -->

        <p> Enter your Answer:  <input type="text" name="Answer"/></p>
        <!-- <p><input type="submit" value="Answer!" id="answer"></p> -->

        <p> Enter your Explanation (optional):  <input type="text" name="Explanation"/></p>
        <!-- <p><input type="submit" value="Answer!" id="answer"></p> -->

        <p><input type="submit" value="Submit!" id="Submit All"> <p>








</form>







</html>
