<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <h1> Categories</h1>


    <form action= "/science" method= "get">

      <center><p> <input type="submit" value= "Sciene" name="Science"/></p></center>
    </form>

    <form action= "/math" method= "get">

      <center><p> <input type="submit" value= "Math" name="Math"/></p></center>
    </form>

    <form action= "/ss" method= "get">

      <center><p> <input type="submit" value= "Social " name="Social "/></p></center>
    </form>



  </body>
  </html>
