<!DOCTYPE html>
<html>
  <head>
    <link type= "text/css" rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

  </head>
  <body>

    <h1 id="Home_Page_Title">Welcome to Trivia Game</h1>


    <form action= "/startGame" method= "get">

      <center><p> <input type="submit" value= "Start Game" name="StartGame"/></p></center>
    </form>

    <form action= "/addQ" method= "get">

      <center><p> <input type="submit" value= "Add Questions and Explanations" name="AddQuestions"/></p></center>
    </form>

    <form action= "/instructions" method= "get">

      <center><p> <input type="submit" value= "Instructions" name="Instructions"/></p></center>
    </form>

  </body>
  </html>
