<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
    <form action= "/startGame" method= "get">

      <center><p> <input type="submit" value= "Start Game" name="StartGame"/></p></center>
    </form>

    <form action= "/addQ" method= "get">

      <center><p> <input type="submit" value= "Add Questions and Explanations" name="AddQuestions"/></p></center>
    </form>

    <form action= "/instructions" method= "get">

      <center><p> <input type="submit" value= "Instructions" name="Instructions"/></p></center>
    </form>

  </body>
  </html>
