<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><center>CATEGORIES</center></h1>

    <form action= "/science" method= "get">

      <center><p> <input type="submit" value= "Science" name="category1"/></p></center>
    </form>

    <form action= "/math" method= "get">

      <center><p> <input type="submit" value= "Math" name="AddQuestions"/></p></center>
    </form>

    <form action= "/ss" method= "get">

      <center><p> <input type="submit" value= "Social Studies" name="SocialStudies"/></p></center>
    </form>

  </body>
  </html>
