<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link type= "text/css" rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

  </head>
  <body>
    <form action ="/startGame">
      <p> <input type="submit" value= "Start Game" name="StartGame"/></p>

    </form>

    <input type="button" id="AddQ" > Add Questions and Explanations!</button>
    <input type="button" id="Instructions" > Instructions</button>

    <form action= "/startGame" method= "post">
      <p>
        <h3> Please enter the following </h3>
        <center> Email: <input type="text" name="email"/></center>
        <br>
        <center> Name: <input type="text" name="name"/></center>
        <br>
        <center> Password: <input type="text" name="password"/></center>
        <br>
      </p>
      <p> <input type="submit" value= "Start Game" name="StartGame"/></p>
    </form>



  </body>
</html>
