<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link type= "text/css" rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

  </head>
  <body>
    <h1 id="Home_Page_Title">Welcome to Trivia Game</h1>


    <form action= "/frontPage" method= "get" id="Login_block">
      <p>
        <h3 id="Title_Request"> Please enter the following </h3>
         <br><div id="User_Email_Input">Email: </div><br><input type="text" name="email"/></br></br>
        <br><div id="User_Name_Input">Name: </div><br><input type="text" name="name"/></br></br>
        <br><div id="User_Password_Input">Password: </div><br><input type="text" name="password"/></br></br>
      </p>
      <p><input type="submit" value= "Enter" name="FrontPage" id="Sign_In_Button"/>></p>
    </form>



  </body>
</html>
