<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link type= "text/css" rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

  </head>
  <body>


    <form action= "/frontPage" method= "get">
      <p>
        <center><h3> Please enter the following </h3></center>
        <center> Email: <input type="text" name="email"/></center>
        <br>
        <center> Name: <input type="text" name="name"/></center>
        <br>
        <center> Password: <input type="text" name="password"/></center>
        <br>
      </p>
      <center><p> <input type="submit" value= "Enter" name="FrontPage"/></p></center>
    </form>



  </body>
</html>
