<!DOCTYPE html>
<html>

<head>
  <link type= "text/css" rel="stylesheet" href="stylesheets/science.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="scripts/science.js"></script>
  <title>Trivia:Science</title>
<head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="http://www.triviacrack.com/" id="title">
                  <span class="light">QUIZ</span>U
              </a>
          </div>
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
              <a href="#page-top"></a>
          </li>
          <li>
              <a href="/startGame">Categories</a>
          </li>
          <li>
              <a href="/settings">Home</a>
          </li>
          <li>
              <a href="/addQ">Add Questions</a>
          </li>
      </ul>
  </div>
</div>
</nav>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" id="Home_Page_Title">Science</h1>

                    <div id="User_Heading">
                      <h2>
                        Name: {{username}}  &#160&#160&#160|&#160&#160&#160 Level:{{userlevel}} &#160&#160&#160|&#160&#160&#160 Points:{{userpoints}}
                      </h2>
                    </div>
                      <div id="GAME">
                        <h3 id="Question"> {{user_question}}</h3>
                    <div>
                      <br>
                        <form method="post ">
                          <label id="User_Answer_Request">Enter Answer: </label><input type="text" name="answer" id="userans">
                          <label id="question_id">{{question_id}}</label>
                          <br>
                            <input id="check_answer" class= "btn-circle" type="submit" name="check_answer" value="Check Answer">
                          <form>
                          <form action="" method="post">

                            <input id="SUBMIT_ANSWER" class= btn-circle type="submit" name="submit_answer" value="Next Question">
                          </form>
                      </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</header>




</body>
</html>
