<!DOCTYPE html>
<html>

<head>
  <link type= "text/css" rel="stylesheet" href="stylesheets/science.css" />
  <script href="scripts/science.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <title>Trivia:Science</title>
<head>
<body>

  <div id="Science_Title">
  <h1>Science<h1>
  </div>

  <div id="User_Heading">
  <h2>
    Name: {{user_name}} &#160&#160&#160|&#160&#160&#160 Level: 1
  </h2>
</div>

<div id="GAME">
  <h3 id="Question">Question</h3>
  <br>
</br>
  <form>
    <label id="User_Answer_Request">Enter Answer: </label><input type="text" name="answer">
    <input type="button" name="submit_answer" value="Enter">
    <form>
</div>

<div id="Proceed_Button">
<input type="button" name="Next_Question" value="Next Question">
</div>


</body>
</html>
